Repository daranguiz/keyboard-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-generated-warning

check-yaml:
  name: Check YAML syntax
  entry: python
  args:
  - -c
  - import yaml; import sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]
  language: system
  stages:
  - pre-commit

check-generated-warning:
  name: Prevent editing generated files
  entry: bash
  args:
  - -c
  - 'if grep -l "AUTO-GENERATED" "$@" 2>/dev/null; then echo "ERROR: Attempting to commit auto-generated files. Edit config files instead."; exit 1; fi'
  - --
  language: system
  stages:
  - pre-commit

Update BASE_ALT2 to LHM Night layout
  .keymap-drawer-config.yaml
  config/keymap.yaml
  docs/split/alt.svg
  docs/split/alt2.svg
  docs/split/primary.svg
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/README.md
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/keymap.c
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/README.md
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/keymap.c
  qmk/keyboards/jels/boaty/keymaps/dario/README.md
  qmk/keyboards/jels/boaty/keymaps/dario/keymap.c
  qmk/keyboards/lily58/rev1/keymaps/dario/README.md
  qmk/keyboards/lily58/rev1/keymaps/dario/keymap.c
  zmk/keymaps/corne_dario/README.md
  zmk/keymaps/corne_dario/corne.keymap
  zmk/keymaps/corneish_zen_dario/README.md
  zmk/keymaps/corneish_zen_dario/corneish_zen.keymap
Due: check-yaml, check-generated-warning

Add Nightlight-LHM row-stagger layout
  README.md
  config/rowstagger/nightlight-lhm.yaml
  docs/rowstagger/nightlight-lhm.svg
Due: check-yaml

Moved num and sym to hrm
  config/keymap.yaml
  docs/split/alt.svg
  docs/split/alt2.svg
  docs/split/primary.svg
  zmk/config/dario_behaviors.dtsi
Due: check-yaml

Added better OSL support
  config/README.md
  config/aliases.yaml
  config/keymap.yaml
  docs/split/alt.svg
  docs/split/alt2.svg
  docs/split/primary.svg
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/README.md
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/keymap.c
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/README.md
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/keymap.c
  qmk/keyboards/jels/boaty/keymaps/dario/README.md
  qmk/keyboards/jels/boaty/keymaps/dario/keymap.c
  qmk/keyboards/lily58/rev1/keymaps/dario/README.md
  qmk/keyboards/lily58/rev1/keymaps/dario/keymap.c
  qmk/users/dario/dario.h
  qmk/users/dario/layers.gen.h
  scripts/base_layer_utils.py
  scripts/generate.py
  scripts/migrate_layers.py
  scripts/qmk_generator.py
  scripts/qmk_translator.py
  scripts/visualizer.py
  scripts/zmk_translator.py
  tests/IMPLEMENTATION_SUMMARY.md
  tests/README.md
  tests/integration/test_special_syntax.py
  tests/unit/test_osl_shadows.py
  tests/unit/test_qmk_translator.py
  tests/unit/test_translator_parity.py
  tests/unit/test_zmk_translator.py
  zmk/config/dario_behaviors.dtsi
  zmk/keymaps/corne_dario/README.md
  zmk/keymaps/corne_dario/corne.keymap
  zmk/keymaps/corneish_zen_dario/README.md
  zmk/keymaps/corneish_zen_dario/corneish_zen.keymap
Due: check-yaml, check-generated-warning

Update the OSL position
  config/keymap.yaml
  docs/split/alt.svg
  docs/split/alt2.svg
  docs/split/primary.svg
Due: check-yaml

Update nightlight-lhm
  config/keymap.yaml
  config/rowstagger/nightlight-lhm.yaml
  docs/rowstagger/nightlight-lhm.svg
  docs/split/alt2.svg
  docs/split/primary.svg
Due: check-yaml

Swap magic key configs between BASE_PRIMARY and BASE_ALT2
  config/keymap.yaml
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/README.md
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/keymap.c
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/README.md
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/keymap.c
  qmk/keyboards/jels/boaty/keymaps/dario/README.md
  qmk/keyboards/jels/boaty/keymaps/dario/keymap.c
  qmk/keyboards/lily58/rev1/keymaps/dario/README.md
  qmk/keyboards/lily58/rev1/keymaps/dario/keymap.c
  zmk/keymaps/corne_dario/README.md
  zmk/keymaps/corne_dario/corne.keymap
  zmk/keymaps/corneish_zen_dario/README.md
  zmk/keymaps/corneish_zen_dario/corneish_zen.keymap
Due: check-yaml, check-generated-warning

Update docs
  docs/split/alt2.svg
  docs/split/primary.svg
Due: none

Reorganize SYM/NUM layers and add direct underscore key
  config/keymap.yaml
  docs/split/alt.svg
  docs/split/alt2.svg
  docs/split/primary.svg
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/README.md
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/keymap.c
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/README.md
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/keymap.c
  qmk/keyboards/jels/boaty/keymaps/dario/README.md
  qmk/keyboards/jels/boaty/keymaps/dario/keymap.c
  qmk/keyboards/lily58/rev1/keymaps/dario/README.md
  qmk/keyboards/lily58/rev1/keymaps/dario/keymap.c
  zmk/keymaps/corne_dario/README.md
  zmk/keymaps/corne_dario/corne.keymap
  zmk/keymaps/corneish_zen_dario/README.md
  zmk/keymaps/corneish_zen_dario/corneish_zen.keymap
Due: check-yaml, check-generated-warning

Update NUM symbols
  config/keymap.yaml
  docs/split/alt.svg
  docs/split/alt2.svg
  docs/split/primary.svg
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/README.md
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/keymap.c
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/README.md
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/keymap.c
  qmk/keyboards/jels/boaty/keymaps/dario/README.md
  qmk/keyboards/jels/boaty/keymaps/dario/keymap.c
  qmk/keyboards/lily58/rev1/keymaps/dario/README.md
  qmk/keyboards/lily58/rev1/keymaps/dario/keymap.c
  zmk/keymaps/corne_dario/README.md
  zmk/keymaps/corne_dario/corne.keymap
  zmk/keymaps/corneish_zen_dario/README.md
  zmk/keymaps/corneish_zen_dario/corneish_zen.keymap
Due: check-yaml, check-generated-warning

Update magic for pt
  config/keymap.yaml
  docs/split/primary.svg
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/keymap.c
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/keymap.c
  qmk/keyboards/jels/boaty/keymaps/dario/keymap.c
  qmk/keyboards/lily58/rev1/keymaps/dario/keymap.c
  zmk/keymaps/corne_dario/README.md
  zmk/keymaps/corne_dario/corne.keymap
  zmk/keymaps/corneish_zen_dario/README.md
  zmk/keymaps/corneish_zen_dario/corneish_zen.keymap
Due: check-yaml, check-generated-warning

Fix GitHub Actions test suite by centralizing Python dependencies
  .github/workflows/build-all.yml
  .github/workflows/test.yml
  requirements-dev.txt
  requirements.txt
Due: check-yaml

Add Cairo system dependencies to test workflow
  .github/workflows/test.yml
Due: check-yaml

Skip performance test in CI due to runner variability
  tests/integration/test_full_keymap_generation.py
Due: none

dk swap
  config/keymap.yaml
  docs/split/primary.svg
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/README.md
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/keymap.c
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/README.md
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/keymap.c
  qmk/keyboards/jels/boaty/keymaps/dario/README.md
  qmk/keyboards/jels/boaty/keymaps/dario/keymap.c
  qmk/keyboards/lily58/rev1/keymaps/dario/README.md
  qmk/keyboards/lily58/rev1/keymaps/dario/keymap.c
  zmk/keymaps/corne_dario/README.md
  zmk/keymaps/corne_dario/corne.keymap
  zmk/keymaps/corneish_zen_dario/README.md
  zmk/keymaps/corneish_zen_dario/corneish_zen.keymap
Due: check-yaml, check-generated-warning

Update nightlight-lhm with new dk swap
  config/keymap.yaml
  config/rowstagger/nightlight-lhm.yaml
  docs/rowstagger/nightlight-lhm.svg
Due: check-yaml

Add caps word support across all keyboards
  config/keycodes.yaml
  config/keymap.yaml
  docs/split/alt.svg
  docs/split/alt2.svg
  docs/split/primary.svg
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/README.md
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/keymap.c
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/README.md
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/keymap.c
  qmk/keyboards/jels/boaty/keymaps/dario/README.md
  qmk/keyboards/jels/boaty/keymaps/dario/keymap.c
  qmk/keyboards/lily58/rev1/keymaps/dario/README.md
  qmk/keyboards/lily58/rev1/keymaps/dario/keymap.c
  qmk/users/dario/rules.mk
  tests/integration/test_full_keymap_generation.py
  tests/unit/test_qmk_translator.py
  tests/unit/test_zmk_translator.py
  zmk/keymaps/corne_dario/README.md
  zmk/keymaps/corne_dario/corne.keymap
  zmk/keymaps/corneish_zen_dario/README.md
  zmk/keymaps/corneish_zen_dario/corneish_zen.keymap
Due: check-yaml, check-generated-warning

Update BASE_PRIMARY display name to NIGHT-LHM
  .keymap-drawer-config.yaml
  config/keymap.yaml
  docs/split/alt.svg
  docs/split/alt2.svg
  docs/split/primary.svg
Due: check-yaml

Replace pd→ph combo with three new bigram combos
  config/keymap.yaml
  docs/split/primary.svg
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/keymap.c
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/keymap.c
  qmk/keyboards/jels/boaty/keymaps/dario/keymap.c
  qmk/keyboards/lily58/rev1/keymaps/dario/keymap.c
  zmk/keymaps/corne_dario/README.md
  zmk/keymaps/corne_dario/corne.keymap
  zmk/keymaps/corneish_zen_dario/README.md
  zmk/keymaps/corneish_zen_dario/corneish_zen.keymap
Due: check-yaml, check-generated-warning

Trying some new combos
  config/keymap.yaml
Due: check-yaml

Add combo training system (opt-in)
  config/keymap.yaml
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/keymap.c
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/keymap.c
  qmk/keyboards/jels/boaty/keymaps/dario/keymap.c
  qmk/keyboards/lily58/rev1/keymaps/dario/keymap.c
  qmk/users/dario/magic.c
  scripts/config_parser.py
  scripts/data_model.py
  scripts/generate.py
  scripts/qmk_generator.py
  scripts/zmk_generator.py
  zmk/keymaps/corne_dario/corne.keymap
  zmk/keymaps/corneish_zen_dario/corneish_zen.keymap
Due: check-yaml, check-generated-warning

Add CY magic back
  config/keymap.yaml
  docs/split/primary.svg
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/keymap.c
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/keymap.c
  qmk/keyboards/jels/boaty/keymaps/dario/keymap.c
  qmk/keyboards/lily58/rev1/keymaps/dario/keymap.c
  zmk/keymaps/corne_dario/README.md
  zmk/keymaps/corne_dario/corne.keymap
  zmk/keymaps/corneish_zen_dario/README.md
  zmk/keymaps/corneish_zen_dario/corneish_zen.keymap
Due: check-yaml, check-generated-warning

Fix combo and magic key bugs, rename NIGHT-LHM to MIDNIGHT
  .keymap-drawer-config.yaml
  config/keymap.yaml
  docs/split/alt.svg
  docs/split/alt2.svg
  docs/split/primary.svg
  flash_boaty.sh
  flash_skeletyl.sh
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/keymap.c
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/keymap.c
  qmk/keyboards/jels/boaty/keymaps/dario/keymap.c
  qmk/keyboards/lily58/rev1/keymaps/dario/keymap.c
  qmk/users/dario/magic.c
  scripts/generate.py
  scripts/qmk_generator.py
  tests/helpers.py
  tests/integration/test_full_keymap_generation.py
  zmk/keymaps/corne_dario/README.md
  zmk/keymaps/corne_dario/corne.keymap
  zmk/keymaps/corneish_zen_dario/README.md
  zmk/keymaps/corneish_zen_dario/corneish_zen.keymap
Due: check-yaml, check-generated-warning

Replace BASE_ALT2 with Bunya layout
  .keymap-drawer-config.yaml
  config/keymap.yaml
  docs/split/alt.svg
  docs/split/alt2.svg
  docs/split/primary.svg
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/README.md
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/keymap.c
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/README.md
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/keymap.c
  qmk/keyboards/jels/boaty/keymaps/dario/README.md
  qmk/keyboards/jels/boaty/keymaps/dario/keymap.c
  qmk/keyboards/lily58/rev1/keymaps/dario/README.md
  qmk/keyboards/lily58/rev1/keymaps/dario/keymap.c
  zmk/keymaps/corne_dario/README.md
  zmk/keymaps/corne_dario/corne.keymap
  zmk/keymaps/corneish_zen_dario/README.md
  zmk/keymaps/corneish_zen_dario/corneish_zen.keymap
Due: check-yaml, check-generated-warning

Add mightlight
  config/rowstagger/mightlight.yaml
Due: check-yaml

Regenerate keymaps after Bunya layout update
  .keymap-drawer-config.yaml
  docs/rowstagger/mightlight.svg
  docs/split/alt.svg
  docs/split/alt2.svg
  docs/split/primary.svg
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/README.md
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/keymap.c
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/README.md
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/keymap.c
  qmk/keyboards/jels/boaty/keymaps/dario/README.md
  qmk/keyboards/jels/boaty/keymaps/dario/keymap.c
  qmk/keyboards/lily58/rev1/keymaps/dario/README.md
  qmk/keyboards/lily58/rev1/keymaps/dario/keymap.c
  zmk/keymaps/corne_dario/README.md
  zmk/keymaps/corne_dario/corne.keymap
  zmk/keymaps/corneish_zen_dario/README.md
  zmk/keymaps/corneish_zen_dario/corneish_zen.keymap
Due: check-yaml, check-generated-warning

Swap Night and Midnight: Night is now primary layout
  config/keymap.yaml
Due: check-yaml

Regenerate keymaps with Night as primary layout
  .keymap-drawer-config.yaml
  docs/split/alt.svg
  docs/split/alt2.svg
  docs/split/primary.svg
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/README.md
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/keymap.c
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/README.md
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/keymap.c
  qmk/keyboards/jels/boaty/keymaps/dario/README.md
  qmk/keyboards/jels/boaty/keymaps/dario/keymap.c
  qmk/keyboards/lily58/rev1/keymaps/dario/README.md
  qmk/keyboards/lily58/rev1/keymaps/dario/keymap.c
  zmk/keymaps/corne_dario/README.md
  zmk/keymaps/corne_dario/corne.keymap
  zmk/keymaps/corneish_zen_dario/README.md
  zmk/keymaps/corneish_zen_dario/corneish_zen.keymap
Due: check-yaml, check-generated-warning

Initial commit for totem
  CLAUDE.md
  README.md
  config/boards.yaml
  config/keymap.yaml
  docs/rowstagger/gallium.svg
  docs/rowstagger/mightlight.svg
  docs/rowstagger/nightlight-lhm.svg
  docs/rowstagger/nightlight.svg
  docs/rowstagger/rain.svg
  docs/rowstagger/rainy_racket.svg
  docs/rowstagger/sturdy.svg
  scripts/config_parser.py
  scripts/data_model.py
  scripts/generate.py
  scripts/layer_compiler.py
  scripts/validator.py
  scripts/visualizer.py
  scripts/zmk_generator.py
  tests/unit/test_config_parser.py
  zmk/build.yaml
  zmk/build_zmk.sh
  zmk/config/boards/totem.conf
  zmk/config/dario_behaviors.dtsi
  zmk/config/west.yml
  zmk/keymaps/corne_dario/corne.keymap
  zmk/keymaps/totem_dario/README.md
  zmk/keymaps/totem_dario/totem.keymap
Due: check-yaml, check-generated-warning

add racket
  .keymap-drawer-config.yaml
  config/keymap.yaml
  docs/split/alt.svg
  docs/split/alt2.svg
  docs/split/primary.svg
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/README.md
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/keymap.c
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/README.md
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/keymap.c
  qmk/keyboards/jels/boaty/keymaps/dario/README.md
  qmk/keyboards/jels/boaty/keymaps/dario/keymap.c
  qmk/keyboards/lily58/rev1/keymaps/dario/README.md
  qmk/keyboards/lily58/rev1/keymaps/dario/keymap.c
  zmk/keymaps/corne_dario/README.md
  zmk/keymaps/corne_dario/corne.keymap
  zmk/keymaps/corneish_zen_dario/README.md
  zmk/keymaps/corneish_zen_dario/corneish_zen.keymap
  zmk/keymaps/totem_dario/README.md
  zmk/keymaps/totem_dario/totem.keymap
Due: check-yaml, check-generated-warning

Fix HRM hold-trigger-key-positions to include all thumb keys
  config/keymap.yaml
  docs/split/alt.svg
  docs/split/alt2.svg
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/README.md
  qmk/keyboards/bastardkb/skeletyl/promicro/keymaps/dario/keymap.c
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/README.md
  qmk/keyboards/boardsource/lulu/rp2040/keymaps/dario/keymap.c
  qmk/keyboards/jels/boaty/keymaps/dario/README.md
  qmk/keyboards/jels/boaty/keymaps/dario/keymap.c
  qmk/keyboards/lily58/rev1/keymaps/dario/README.md
  qmk/keyboards/lily58/rev1/keymaps/dario/keymap.c
  scripts/zmk_generator.py
  zmk/keymaps/corne_dario/README.md
  zmk/keymaps/corne_dario/corne.keymap
  zmk/keymaps/corneish_zen_dario/README.md
  zmk/keymaps/corneish_zen_dario/corneish_zen.keymap
  zmk/keymaps/totem_dario/README.md
  zmk/keymaps/totem_dario/totem.keymap
Due: check-yaml, check-generated-warning

Fix TOTEM HRM left/right hand detection
  scripts/generate.py
  scripts/zmk_translator.py
  zmk/keymaps/totem_dario/README.md
  zmk/keymaps/totem_dario/totem.keymap
Due: check-generated-warning

Add Ripple (Cosmos Dactyl) board with full codegen integration
  README.md
  config/boards.yaml
  qmk/config/boards/ripple.mk
  qmk/keyboards/ripple/MATRIX_UPDATE.md
  qmk/keyboards/ripple/config.h
  qmk/keyboards/ripple/keyboard.json
  qmk/keyboards/ripple/keymaps/dario/README.md
  qmk/keyboards/ripple/keymaps/dario/config.h
  qmk/keyboards/ripple/keymaps/dario/keymap.c
  qmk/keyboards/ripple/keymaps/dario/rules.mk
  qmk/keyboards/ripple/rules.mk
  qmk/keyboards/ripple/vik/README.md
  qmk/keyboards/ripple/vik/config.vik.post.h
  qmk/keyboards/ripple/vik/config.vik.pre.h
  qmk/keyboards/ripple/vik/rules.mk
  qmk/keyboards/ripple/vik/rules.vik.main.general.mk
  qmk/keyboards/ripple/vik/rules.vik.main.pointing.mk
  qmk/keyboards/ripple/vik/rules.vik.post.mk
  qmk/keyboards/ripple/vik/rules.vik.pre.mk
  qmk/keyboards/ripple/vik/rules.vik.right.general.mk
  qmk/keyboards/ripple/vik/rules.vik.right.pointing.mk
  qmk/qmk.json
Due: check-yaml, check-generated-warning

Replace BUNYA with DUSK-WP layout
  config/keymap.yaml
Due: check-yaml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-generated-warning: any of: (keymap\.c|config\.h|rules\.mk|.*\.keymap)$
